html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul, li {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Full-width input fields */
.login-Form {
  width: auto;
  padding: 40px;
  /* Overwrite default styles of hr */
  /* Set a style for the submit button */
  /* Add a blue text color to links */
  /* Set a grey background color and center the text of the "sign in" section */
}
.login-Form input[type=text], .login-Form input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  border-radius: 10px;
}
.login-Form h1 {
  font-size: 30px;
  font-family: "Kameron", serif;
  color: black;
  margin-bottom: 5px;
}
.login-Form p {
  font-family: "Kameron", serif;
  color: black;
}
.login-Form input[type=text]:focus, .login-Form input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}
.login-Form hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
.login-Form .registerbtn {
  background-color: rgb(100, 164, 185);
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  border-radius: 10px;
}
.login-Form .registerbtn:hover {
  opacity: 1;
}
.login-Form a {
  color: dodgerblue;
}
.login-Form .signin {
  background-color: #f1f1f1;
  text-align: center;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.header-Rec {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: white;
}
.header-Rec .nav-Bar {
  display: flex;
  justify-content: space-between;
}
.header-Rec .nav-Bar .logo {
  display: flex;
  flex-direction: column;
  display: flex;
  align-items: center;
  margin: 0 15px 0 40px;
  height: 60px;
}
.header-Rec .nav-Bar .logo .tbc-Logo {
  width: 38px;
  height: 30px;
}
.header-Rec .nav-Bar .logo h1 {
  font-family: "indie flower";
  font-size: 30px;
  color: black;
}
.header-Rec .nav-Bar .nav-Search {
  margin: 0 40px 0 15px;
  margin-top: 7px;
  right: 0;
  display: flex;
  align-items: center;
  width: 650px;
  justify-content: space-between;
}
.header-Rec .nav-Bar .nav-Search input {
  resize: none;
  height: 30px;
  border-radius: 10px;
  width: 120px;
  font-size: 18px;
  background-color: whitesmoke;
  border: 2px solid lightgray;
}
.header-Rec .nav-Bar .nav-Search i {
  margin-left: 3px;
  color: black;
}
.header-Rec .nav-Bar .nav-Search .fa-magnifying-glass {
  color: gray;
  cursor: pointer;
}
.header-Rec .nav-Bar .nav-Search h2 {
  font-size: 25px;
  font-family: "indie flower";
  color: gray;
}
.header-Rec .nav-Bar .nav-Search .solid-Bars {
  width: 18px;
  height: 21px;
  margin: 10px;
  cursor: pointer;
  display: none;
}

.b-Img {
  position: relative;
  text-align: center;
  color: white;
}
.b-Img .big-Img1 {
  width: 100%;
  height: 66%;
}
.b-Img h1 {
  visibility: hidden;
  position: absolute;
  font-weight: 700;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "indie flower";
  font-size: 40px;
  transition: visibility 0.5s, opacity 0.5s linear;
}
.b-Img h2 {
  position: absolute;
  font-weight: 700;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "indie flower";
  font-size: 80px;
}
.b-Img .b-p {
  position: absolute;
  font-size: 30px;
  font-family: "indie flower";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 700;
}
.b-Img .b-h4 {
  top: 90%;
  left: 80%;
  transform: translate(-50%, -50%);
  position: absolute;
  font-family: "indie flower";
}

.b-Img:hover h1 {
  visibility: visible;
  opacity: 1;
}

.below-b-Img {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 70px 0 70px 0;
}
.below-b-Img p {
  margin: 0 10px 0 10px;
  font-family: "indie flower";
  font-size: 24px;
  color: gray;
  font-weight: 700;
}
.below-b-Img .hl3 {
  width: 30%;
  height: 2px;
  background-color: lightgray;
}

.three-Ball {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}
.three-Ball .ball-Text {
  max-width: 280px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}
.three-Ball .ball-Text .ball {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 190px;
  height: 190px;
  background-color: #72828d;
  border-radius: 50%;
}
.three-Ball .ball-Text .ball h2 {
  font-family: "indie flower";
  color: white;
  font-size: 30px;
}
.three-Ball .ball-Text p {
  margin-top: 30px;
  text-align: center;
  font-family: "Kameron", serif;
  color: black;
}

.card-Sec {
  display: flex;
  justify-content: space-between;
  width: 75%;
  margin-bottom: 30px;
}
.card-Sec .card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.card-Sec .card .sell1 {
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
  border: 1px rgb(230, 224, 224) solid;
  border-radius: 5px;
  opacity: 0.8;
}
.card-Sec .card .sell1:hover {
  opacity: 1;
}
.card-Sec .card .n-p {
  height: 25px;
  width: auto;
  background-color: rgb(233, 231, 231);
  border-radius: 10px;
  margin-bottom: 10px;
}
.card-Sec .card .n-p h4 {
  padding: 4px 5px 10px 5px;
}
.card-Sec .card button {
  font-family: "Kameron", serif;
  margin-bottom: 10px;
  opacity: 0.7;
  border: none;
  background-color: lightgrey;
  border-radius: 3px;
  cursor: pointer;
}
.card-Sec .card button:hover {
  opacity: 0.9;
}

.about-Us {
  width: 100%;
  height: 400px;
  display: flex;
}
.about-Us img {
  width: 100%;
  height: 400px;
}
.about-Us .about-Text {
  width: 50%;
  height: 400px;
  position: absolute;
}
.about-Us .about-Text .half-Rec {
  position: absolute;
  width: 100%;
  height: 400px;
  background-color: black;
  opacity: 0.4;
}
.about-Us .about-Text h1 {
  font-family: "indie flower";
  font-size: 30px;
  color: white;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.about-Us .about-Text p {
  font-size: 19px;
  font-family: "Kameron", serif;
  color: white;
  text-align: center;
  width: 80%;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.product-Rectangle {
  position: relative;
  display: flex;
  width: 100%;
  height: auto;
  background-color: #e6f7e6;
  margin-bottom: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
}
.product-Rectangle .product-Types {
  width: 240px;
  flex-direction: column;
  padding: 30px;
  margin: 0 auto;
}
.product-Rectangle .product-Types h2 {
  font-family: "indie flower";
  font-size: 23px;
  padding-bottom: 5px;
}
.product-Rectangle .product-Types .hl2 {
  width: 100px;
  height: 2px;
  margin-top: 4px;
  background-color: lightgrey;
  margin-bottom: 5px;
}
.product-Rectangle .product-Types div input[type=checkbox] {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid grey;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
  accent-color: lightgrey;
}
.product-Rectangle .product-Types div input[type=checkbox]:checked {
  appearance: auto;
  clip-path: circle(46% at 50% 50%);
}
.product-Rectangle .product-Sumbit {
  border-radius: 10px;
  height: 30px;
  border: 2px solid lightgrey;
  cursor: pointer;
  width: 80px;
  bottom: 0;
  right: 0;
  position: absolute;
  font-size: 20px;
  margin: 0 20px 20px 0;
}

.sell-cards {
  display: flex;
  flex-wrap: wrap;
}
.sell-cards .card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  padding: 20px;
}
.sell-cards .card .sell1 {
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
  border: 1px rgb(230, 224, 224) solid;
  border-radius: 5px;
  opacity: 0.8;
}
.sell-cards .card .sell1:hover {
  opacity: 1;
}
.sell-cards .card .n-p {
  height: 25px;
  width: auto;
  background-color: rgb(233, 231, 231);
  border-radius: 10px;
  margin-bottom: 10px;
}
.sell-cards .card .n-p h4 {
  padding: 4px 5px 10px 5px;
}
.sell-cards .card button {
  font-family: "Kameron", serif;
  margin-bottom: 10px;
  opacity: 0.7;
  border: none;
  background-color: lightgrey;
  border-radius: 3px;
  cursor: pointer;
}
.sell-cards .card button:hover {
  opacity: 0.9;
}

.next-Cards {
  display: flex;
  max-width: 300px;
  margin: 60px auto;
}
.next-Cards .page-Next {
  width: 40px;
  height: 40px;
  border: 1px solid gray;
  background-color: lightgray;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.next-Cards .page-Next h2 {
  font-family: "Kameron", serif;
  font-size: 24px;
  color: white;
}
.next-Cards .active {
  background-color: darkgray;
}

.footer-Rectangle {
  width: 100%;
  min-height: 250px;
  background-color: #e6f7e6;
}
.footer-Rectangle .footer-Text {
  padding: 20px 30px 0 30px;
}
.footer-Rectangle .footer-Text .section1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer-Rectangle .footer-Text .section1 .footer-Logo {
  display: flex;
  align-items: center;
  width: 200px;
  flex-wrap: wrap;
  justify-content: center;
  height: 80px;
  margin-right: 20px;
}
.footer-Rectangle .footer-Text .section1 .footer-Logo img {
  width: 38px;
  height: 30px;
}
.footer-Rectangle .footer-Text .section1 .footer-Logo .hl {
  width: 200px;
  height: 2px;
  margin-top: 4px;
  background-color: lightgrey;
}
.footer-Rectangle .footer-Text .section1 .footer-Logo h3 {
  font-family: "indie flower";
  font-size: 23px;
  color: black;
}
.footer-Rectangle .footer-Text .section1 .footer-Logo h4 {
  font-family: "indie flower";
  font-size: 19px;
  word-spacing: -2px;
  color: black;
  font-weight: 500;
  margin-top: 6px;
}
.footer-Rectangle .footer-Text .section1 .footer-Help-Contact {
  padding-top: 10px;
  height: 117px;
  display: flex;
  flex-direction: column;
}
.footer-Rectangle .footer-Text .section1 .footer-Help-Contact h3 {
  font-family: "indie flower";
  font-size: 23px;
}
.footer-Rectangle .footer-Text .section1 .footer-Help-Contact .hl2 {
  width: 100px;
  height: 2px;
  margin-top: 4px;
  background-color: lightgrey;
}
.footer-Rectangle .footer-Text .section1 .footer-Help-Contact h5 {
  margin-top: 10px;
}
.footer-Rectangle .footer-Text .section1 .social-Platforms {
  margin: 10px;
  font-size: 22px;
}
.footer-Rectangle .footer-Text .section1 .social-Platforms a {
  color: black;
}
.footer-Rectangle .footer-Text .nav-Report {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 10px;
  margin-top: 20px;
}
.footer-Rectangle .footer-Text .nav-Report .footer-Nav {
  display: flex;
  flex-direction: column;
}
.footer-Rectangle .footer-Text .nav-Report .footer-Nav a {
  color: black;
  margin-bottom: 10px;
}
.footer-Rectangle .footer-Text .nav-Report .report {
  bottom: 6px;
  margin-top: 50px;
  width: 274px;
}
.footer-Rectangle .footer-Text .nav-Report .report input {
  border-radius: 10px;
  height: 30px;
  width: 200px;
  bottom: 0;
  border: 2px solid lightgray;
  font-size: 16px;
}
.footer-Rectangle .footer-Text .nav-Report .report button {
  border-radius: 10px;
  height: 30px;
  border: 2px solid lightgrey;
  cursor: pointer;
  font-size: 16px;
  width: 70px;
}
.footer-Rectangle .footer-Text .nav-Report .report h6 {
  margin-top: 3px;
  font-family: "Kameron", serif;
  font-size: 14px;
  margin-left: 6px;
  color: gray;
}
.footer-Rectangle .footer-Text .nav-Report .contact {
  margin-top: 40px;
}
.footer-Rectangle .footer-Text .nav-Report .contact .contact-i {
  display: flex;
  margin-top: 10px;
}
.footer-Rectangle .footer-Text .nav-Report .contact .contact-i i {
  margin-right: 4px;
}

@media only screen and (max-width: 880px) {
  .three-Ball {
    justify-content: center;
  }
}
@media only screen and (max-width: 850px) {
  .header-Rec .nav-Bar .nav-Search {
    justify-content: flex-end;
  }
  .header-Rec .nav-Bar .nav-Search .page-link {
    display: none;
  }
  .header-Rec .nav-Bar .nav-Search .right-Icons {
    display: none;
  }
  .header-Rec .nav-Bar .nav-Search .solid-Bars {
    display: block;
  }
  .card-Sec {
    width: 95%;
  }
}
@media only screen and (max-width: 650px) {
  .below-b-Img p {
    font-size: 19px;
  }
  .card-Sec {
    flex-direction: column;
  }
  .b-Img .b-p {
    font-size: 25px;
  }
  .three-Ball {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .about-Us .about-Text p {
    width: 90%;
  }
}
@media only screen and (max-width: 500px) {
  .header-Rec .nav-Bar .logo {
    margin: 0 10px 0 15px;
    width: auto;
  }
  .header-Rec .nav-Bar .logo h1 {
    font-size: 25px;
  }
  .header-Rec .nav-Bar .nav-Search {
    margin: 0 15px 0 10px;
  }
  .below-b-Img .hl3 {
    width: 20%;
  }
  .about-Us .about-Text h1 {
    top: 15%;
  }
  .about-Us .about-Text p {
    font-size: 15px;
  }
}
@media only screen and (max-width: 380px) {
  .header-Rec .nav-Bar {
    flex-wrap: wrap;
    justify-content: center;
  }
  .header-Rec .nav-Bar .nav-Search {
    width: auto;
  }
  .b-Img .b-p {
    font-size: 22px;
  }
}/*# sourceMappingURL=global.css.map */