html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul, li {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.header-Rec {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
}
.header-Rec .nav-Bar {
  display: flex;
  justify-content: space-between;
}
.header-Rec .nav-Bar .logo {
  display: flex;
  flex-direction: column;
  display: flex;
  align-items: center;
  margin: 0 15px 0 40px;
  height: 60px;
}
.header-Rec .nav-Bar .logo .tbc-Logo {
  width: 38px;
  height: 30px;
}
.header-Rec .nav-Bar .logo h1 {
  font-family: "indie flower";
  font-size: 30px;
  color: black;
}
.header-Rec .nav-Bar .nav-Search {
  margin: 0 40px 0 15px;
  margin-top: 7px;
  right: 0;
  display: flex;
  align-items: center;
  width: 650px;
  justify-content: space-between;
}
.header-Rec .nav-Bar .nav-Search input {
  resize: none;
  height: 30px;
  border-radius: 10px;
  width: 120px;
  font-size: 18px;
  background-color: whitesmoke;
  border: 2px solid lightgray;
}
.header-Rec .nav-Bar .nav-Search i {
  margin-left: 3px;
  color: black;
}
.header-Rec .nav-Bar .nav-Search .fa-magnifying-glass {
  color: gray;
  cursor: pointer;
}
.header-Rec .nav-Bar .nav-Search h2 {
  font-size: 25px;
  font-family: "indie flower";
  color: gray;
}
.header-Rec .nav-Bar .nav-Search .solid-Bars {
  width: 18px;
  height: 21px;
  margin: 10px;
  cursor: pointer;
  display: none;
}

.b-Img {
  position: relative;
  text-align: center;
  color: white;
  margin-bottom: 70px;
}
.b-Img .big-Img1 {
  width: 100%;
  height: 66%;
}
.b-Img h1 {
  visibility: hidden;
  position: absolute;
  font-weight: 700;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "indie flower";
  font-size: 40px;
  transition: visibility 0.5s, opacity 0.5s linear;
}
.b-Img .b-p {
  position: absolute;
  font-size: 30px;
  font-family: "indie flower";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 700;
}
.b-Img .b-h4 {
  top: 90%;
  left: 80%;
  transform: translate(-50%, -50%);
  position: absolute;
  font-family: "indie flower";
}

.b-Img:hover h1 {
  visibility: visible;
  opacity: 1;
}

.below-b-Img {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 70px;
}
.below-b-Img p {
  margin: 0 10px 0 10px;
  font-family: "indie flower";
  font-size: 24px;
  color: gray;
  font-weight: 700;
}
.below-b-Img .hl3 {
  width: 30%;
  height: 2px;
  background-color: lightgray;
}

.card-Sec {
  display: flex;
  justify-content: space-between;
  width: 75%;
  margin-bottom: 30px;
}
.card-Sec .card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.card-Sec .card .sell1 {
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
  border: 1px rgb(230, 224, 224) solid;
  border-radius: 5px;
  opacity: 0.7;
}
.card-Sec .card .sell1:hover {
  opacity: 1;
  zoom: 101%;
}
.card-Sec .card .n-p {
  height: 25px;
  width: auto;
  background-color: rgb(233, 231, 231);
  border-radius: 10px;
  margin-bottom: 10px;
}
.card-Sec .card .n-p h4 {
  padding: 4px 5px 10px 5px;
}
.card-Sec .card button {
  font-family: "Kameron", serif;
  margin-bottom: 10px;
  opacity: 0.7;
  border: none;
  background-color: lightgrey;
  border-radius: 3px;
  cursor: pointer;
}
.card-Sec .card button:hover {
  opacity: 0.9;
}

.footer-Rectangle {
  width: 100%;
  min-height: 250px;
  background-color: #e6f7e6;
}
.footer-Rectangle .footer-Text {
  padding: 20px 30px 0 30px;
}
.footer-Rectangle .footer-Text .section1 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer-Rectangle .footer-Text .section1 .footer-Logo {
  display: flex;
  align-items: center;
  width: 200px;
  flex-wrap: wrap;
  justify-content: center;
  height: 80px;
  margin-right: 20px;
}
.footer-Rectangle .footer-Text .section1 .footer-Logo img {
  width: 38px;
  height: 30px;
}
.footer-Rectangle .footer-Text .section1 .footer-Logo .hl {
  width: 200px;
  height: 2px;
  margin-top: 4px;
  background-color: lightgray;
}
.footer-Rectangle .footer-Text .section1 .footer-Logo h3 {
  font-family: "indie flower";
  font-size: 23px;
  color: black;
}
.footer-Rectangle .footer-Text .section1 .footer-Logo h4 {
  font-family: "indie flower";
  font-size: 19px;
  word-spacing: -2px;
  color: black;
  font-weight: 500;
  margin-top: 6px;
}
.footer-Rectangle .footer-Text .section1 .footer-Help-Contact {
  padding-top: 10px;
  height: 117px;
  display: flex;
  flex-direction: column;
}
.footer-Rectangle .footer-Text .section1 .footer-Help-Contact h3 {
  font-family: "indie flower";
  font-size: 23px;
}
.footer-Rectangle .footer-Text .section1 .footer-Help-Contact .hl2 {
  width: 100px;
  height: 2px;
  margin-top: 4px;
  background-color: lightgray;
}
.footer-Rectangle .footer-Text .section1 .footer-Help-Contact h5 {
  margin-top: 10px;
}
.footer-Rectangle .footer-Text .section1 .social-Platforms {
  margin: 10px;
  font-size: 22px;
}
.footer-Rectangle .footer-Text .section1 .social-Platforms a {
  color: black;
}
.footer-Rectangle .footer-Text .nav-Report {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 10px;
  margin-top: 20px;
}
.footer-Rectangle .footer-Text .nav-Report .footer-Nav {
  display: flex;
  flex-direction: column;
}
.footer-Rectangle .footer-Text .nav-Report .footer-Nav a {
  color: black;
  margin-bottom: 10px;
}
.footer-Rectangle .footer-Text .nav-Report .report {
  bottom: 6px;
  margin-top: 50px;
  width: 274px;
}
.footer-Rectangle .footer-Text .nav-Report .report input {
  border-radius: 10px;
  height: 30px;
  width: 200px;
  bottom: 0;
  border: 2px solid lightgray;
  font-size: 16px;
}
.footer-Rectangle .footer-Text .nav-Report .report button {
  border-radius: 10px;
  width: 70px;
  height: 30px;
  border: 2px solid lightgray;
  font-size: 16px;
  cursor: pointer;
}
.footer-Rectangle .footer-Text .nav-Report .report h6 {
  margin-top: 3px;
  font-family: "Kameron", serif;
  font-size: 14px;
  margin-left: 6px;
  color: gray;
}
.footer-Rectangle .footer-Text .nav-Report .contact {
  margin-top: 40px;
}
.footer-Rectangle .footer-Text .nav-Report .contact .contact-i {
  display: flex;
  margin-top: 10px;
}
.footer-Rectangle .footer-Text .nav-Report .contact .contact-i i {
  margin-right: 4px;
}

@media only screen and (max-width: 850px) {
  .header-Rec .nav-Bar .nav-Search {
    justify-content: flex-end;
  }
  .header-Rec .nav-Bar .nav-Search .page-link {
    display: none;
  }
  .header-Rec .nav-Bar .nav-Search .right-Icons {
    display: none;
  }
  .header-Rec .nav-Bar .nav-Search .solid-Bars {
    display: block;
  }
  .card-Sec {
    width: 95%;
  }
}
@media only screen and (max-width: 650px) {
  .below-b-Img p {
    font-size: 19px;
  }
  .card-Sec {
    flex-direction: column;
  }
  .b-Img .b-p {
    font-size: 25px;
  }
}
@media only screen and (max-width: 500px) {
  .header-Rec .nav-Bar .logo {
    margin: 0 10px 0 15px;
    width: auto;
  }
  .header-Rec .nav-Bar .logo h1 {
    font-size: 25px;
  }
  .header-Rec .nav-Bar .nav-Search {
    margin: 0 15px 0 10px;
  }
  .below-b-Img .hl3 {
    width: 20%;
  }
}
@media only screen and (max-width: 380px) {
  .header-Rec .nav-Bar {
    flex-wrap: wrap;
    justify-content: center;
  }
  .header-Rec .nav-Bar .nav-Search {
    width: auto;
  }
  .b-Img .b-p {
    font-size: 22px;
  }
}/*# sourceMappingURL=global.css.map */