@media only screen and (max-width: 880px) {
  .three-Ball {
    justify-content: center;
  }
}
@media only screen and (max-width: 850px) {
    .header-Rec {
      .nav-Bar {
        .nav-Search {
          justify-content: flex-end;
          .page-link {
            display: none;
          }
          .right-Icons {
            display: none;
          }
          .solid-Bars {
            display: block;
          }
        }
      }
    }
    .card-Sec {
      width: 95%;
    }  
}
  @media only screen and (max-width: 650px) {
    .below-b-Img {
      p {
        font-size: 19px;
      }
    }
    .card-Sec {
      flex-direction: column;
    }
    .b-Img {
      .b-p {
        font-size: 25px;
      }
    }
    .three-Ball {
      flex-direction: column;
      @include verticalCentered;
      justify-content: center;
    }
    .about-Us {
      .about-Text {
        p {
          width: 90%;
        }
      }
    }
 }
@media only screen and (max-width: 500px) {
    .header-Rec {
      .nav-Bar {
        .logo {
          margin: 0 10px 0 15px;
          width: auto;
          h1 {
            font-size: 25px;
          }
        }
        .nav-Search {
          margin: 0 15px 0 10px;
        }
      }
    }
    .below-b-Img {
      .hl3 {
        width: 20%;
      }
    }
    .about-Us {
      .about-Text {
        h1 {
          top: 15%;
        }
        p {
          font-size: 15px;
        }
      }
    }
  }

@media only screen and (max-width: 380px) {
  .header-Rec {
    .nav-Bar {
      flex-wrap: wrap;
      justify-content: center;
      .nav-Search {
        width: auto;
      }
    }
  }
  .b-Img {
    .b-p {
      font-size: 22px;
    }
  }
  

}