@mixin myContainer {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
@mixin verticalCentered {
    display: flex;
    align-items: center;
}
@mixin wrap-justifyCenter {
    flex-wrap: wrap;
    justify-content: center;
}
@mixin wrap-spaceBetween {
    flex-wrap: wrap;
    justify-content: space-between;
}

// styles //

@mixin style1 {
    font-family: 'indie flower';
}
@mixin style2 {
    font-family: 'Kameron', serif;
}