/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@mixin myContainer {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
@mixin verticalCentered {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
@mixin wrap-justifyCenter {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
@mixin wrap-spaceBetween {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

// styles //

@mixin style1 {
    font-family: 'indie flower';
}
@mixin style2 {
    font-family: 'Kameron', serif;
}
@mixin horizontalLine {
    width: 200px;
    height: 2px;
    margin-top: 4px;
    background-color: $quaternary-color;
}
@mixin horizontalLine2 {
    width: 100px;
    height: 2px;
    margin-top: 4px;
    background-color: $quaternary-color;
}
@mixin button1 {
    border-radius: 10px;
    height: 30px;
    border: 2px solid $quaternary-color;
    cursor: pointer;
}


// This MIXIN is for cards, like one used in Product page to style cards

@mixin for-Cards {
    @include verticalCentered;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        .sell1 {
            width: 200px;
            height: 200px;
            margin-bottom: 20px;
            border: 1px rgb(230, 224, 224) solid;
            border-radius:5px ;
            opacity: 0.8;
        }
        .sell1:hover {
            opacity: 1;
        }
        .n-p {
            height: 25px;
            width: auto;
            background-color: rgb(233, 231, 231);
            border-radius: 10px;
            margin-bottom: 10px;
            h4 {
                padding: 4px 5px 10px 5px ;
            }
        }
        button {
            @include style2;
            margin-bottom: 10px;
            opacity: 0.7;
            border: none;
            background-color: $quaternary-color;
            border-radius: 3px;
            cursor: pointer;
        }
        button:hover {
            opacity: 0.9;
        }
        
}