.container {
    @include myContainer;
}

.header-Rec {
    height: 100px;
    width: 100%;
    @include verticalCentered;

    .nav-Bar {
        display:  flex;
        justify-content: space-between;
        .logo {
            display: flex;
            flex-direction: column;
            @include verticalCentered;
            margin: 0 15px 0 40px;
            width: 187px;
            height: 60px;
            .tbc-Logo {
                width: 38px;
                height: 30px;
            }
            h1 {
                @include style1;
                font-size: 30px;
                color:  $secondary-color;
            }
        }
        
        .nav-Search {
            margin: 0 40px 0 15px;
            margin-top: 7px;
            right: 0;
            @include verticalCentered;
            width: 650px;
            justify-content: space-between;
            h2 {
                font-size: 25px;
                @include style1;
                color: $primary-color;
            }
            input {
                resize: none;
                height: 30px;
                border-radius: 10px;
                width: 120px;
                font-size: 20px;
                background-color: whitesmoke;
                border: 2px solid lightgray;
            }
            i {
                margin-left: 3px;
                color: $secondary-color ;
            }
            .fa-magnifying-glass {
                color: $primary-color;
            }
        }
        
    } 
}
.footer-Rectangle {
    width: 100%;
    height: 250px;
    background-color: #e6f7e6;
    .footer-Text {
        padding: 20px 30px 0 30px;
        .footer-Logo {
            @include verticalCentered;
            width: 200px;
            flex-wrap: wrap;
            justify-content: center;
            height: 100px;
            img {
                width: 38px;
                height: 30px;
            }
            .hl {
                width: 200px;
                height: 2px;
                margin-top: 4px;
                background-color: lightgray;
            }
            h3 {
                @include style1;
                font-size: 23px;
                color: $secondary-color;
            }
            h4 {
                @include style1;
                font-size: 19px;
                word-spacing: -2px;
                color: $secondary-color;
                font-weight: 500;
                margin-top: 6px;
            }
        }
        .footer-Nav {
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            a {
                color: $secondary-color;
            }
            h5 {
                @include style1;
                margin-bottom: 10px;
                display: inline-block;
            }
        }
        
    }



}