.container {
    @include myContainer;
}



.header-Rec {
    height: 100px;
    width: 100%;
    @include verticalCentered;
    background-color: white;
    .nav-Bar {
        display:  flex;
        justify-content: space-between;
        .logo {
            display: flex;
            flex-direction: column;
            @include verticalCentered;
            margin: 0 15px 0 40px;
            height: 60px;
            .tbc-Logo {
                width: 38px;
                height: 30px;
            }
            h1 {
                @include style1;
                font-size: 30px;
                color:  $secondary-color;
            }
        }
        
        .nav-Search {
            margin: 0 40px 0 15px;
            margin-top: 7px;
            right: 0;
            @include verticalCentered;
            width: 650px;
            justify-content: space-between;
            input {
                resize: none;
                height: 30px;
                border-radius: 10px;
                width: 120px;
                font-size: 18px;
                background-color: whitesmoke;
                border: 2px solid lightgray;
            }
            i {
                margin-left: 3px;
                color: $secondary-color ;
            }
            .fa-magnifying-glass {
                color: $primary-color;
                cursor: pointer;
            }
            h2 {
                font-size: 25px;
                @include style1;
                color: $primary-color;
            }
            .solid-Bars {
                width: 18px;
                height: 21px;
                margin: 10px;
                cursor: pointer;
                display: none;
            }
        }
        
    }
}
.b-Img {
    position: relative;
    text-align: center;
    color: white;
    .big-Img1 {
        width: 100%;
        height: 66%;
    }
    h1 {
        visibility: hidden;
        position: absolute;
        font-weight: 700;
        opacity: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        @include style1;
        font-size: 40px;
        transition: visibility 0.5s, opacity 0.5s linear
    }
    h2 {
        position: absolute;
        font-weight: 700;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        @include style1;
        font-size: 80px;
    }
    .b-p {
        position: absolute;
        font-size: 30px;
        @include style1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-weight: 700;
    }
    .b-h4 {
        top: 90%;
        left: 80%;
        transform: translate(-50%, -50%);
        position: absolute;
        @include style1;
    }
}
.b-Img:hover {
    h1 {
        visibility: visible;
        opacity: 1;
    }
}
.below-b-Img {
    @include verticalCentered;
    justify-content: center;
    text-align: center;
    padding: 70px 0 70px 0;
    p {
        margin: 0 10px 0 10px;
        @include style1;
        font-size: 24px;
        color: $primary-color;
        font-weight: 700;
    }
    .hl3 {
        width: 30%;
        height: 2px;
        background-color: lightgray;
    }
}
.three-Ball {
    display: flex;
    @include wrap-spaceBetween;
    padding: 20px;
    .ball-Text {
        max-width: 280px;
        @include verticalCentered;
        flex-direction: column;
        padding: 20px;
        .ball {
            @include verticalCentered;
            justify-content: center;
            width: 190px;
            height: 190px;
            background-color: #72828d;
            border-radius: 50%;
            h2 {
                @include style1;
                color: white;
                font-size: 30px;
            }

        }
        p {
            margin-top: 30px;
            text-align: center;
            @include style2;
            color: $secondary-color;
        }
    }
}
.card-Sec {
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin-bottom: 30px;
    .card {
        @include for-Cards;
        
    }
}
.about-Us {
    width: 100%;
    height: 400px;
    display: flex;
    img {
        width: 100%;
        height: 400px;
    }
    .about-Text {
        width: 50%;
        height: 400px;
        position: absolute;
        .half-Rec {
            position: absolute;
            width: 100%;
            height: 400px;
            background-color: black;
            opacity: 0.4;
        }
        h1 {
            @include style1;
            font-size: 30px;
            color: $tertiary-color;
            position: absolute;
            top: 25%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        p {
            font-size: 19px;
            @include style2;
            color: $tertiary-color;
            text-align: center;
            width: 80%;
            position: absolute;
            top: 60%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }  
}
.product-Rectangle {
    position: relative;
    display: flex;
    width: 100%;
    height: auto;
    background-color: #e6f7e6;
    margin-bottom: 20px;
    @include wrap-spaceBetween;
    .product-Types {
        width: 240px;
        flex-direction: column;
        padding: 30px;
        margin: 0 auto;
        h2 {
            @include style1;
            font-size: 23px;
            padding-bottom: 5px
        }    
        .hl2 {
            @include horizontalLine2;
            margin-bottom: 5px;
        }
        div {
            input[type="checkbox"] {
                width: 18px;
                height: 18px;
                border-radius: 50%;
                vertical-align: middle;
                border: 1px solid grey;
                appearance: none;
                -webkit-appearance: none;
                outline: none;
                cursor: pointer;
                accent-color: $quaternary-color;
            }
            input[type="checkbox"]:checked {
                appearance: auto;
                clip-path: circle(46% at 50% 50%);
            }
        }
    }
    .product-Sumbit {
        @include button1;
        width: 80px;
        bottom: 0;
        right: 0;
        position: absolute;
        font-size: 20px;
        margin: 0 20px 20px 0;
    }
}
.sell-cards {
    display: flex;
    flex-wrap: wrap;
    .card {
        @include for-Cards;
        margin: 0 auto;
        padding: 20px;
    }
}
.next-Cards {
    display: flex;
    max-width: 300px;
    margin: 60px auto;
    .page-Next {
        width: 40px;
        height: 40px;
        border: 1px solid gray;
        background-color: lightgray;
        border-radius: 50%;
        @include verticalCentered;
        justify-content: center;
        margin: 0 auto;
        h2 {
            @include style2;
            font-size: 24px;
            color: $tertiary-color;
        }
    }
    .active {
        background-color:  darkgray;
    }
}
.contact-Form {
    form {
        margin: auto;
        padding: 0 20px;
        input[type=text] {
            border-radius: 10px;
            border: 1px solid $quaternary-color;
            height: 30px;
            width: 50%;
            resize: none;
            background-color: whitesmoke;
            outline: none;
            display: flex;
            margin: 5px 0;
        }
        textarea {
            height: 300px;
            display: flex;
            resize: none;
            margin-top: 5px;
            border-radius: 10px;
            border: 1px solid $quaternary-color;
            outline: none;
            background-color: whitesmoke;
            width: 70%;
        }
        button {
            width: 100%;
            height: 40px;
            margin-top: 10px;
            margin-bottom: 100px;
            border-radius: 10px;
            border: 1px solid $quaternary-color;
        }
        button:hover {
            background-color: darkgrey;
        }
    }
}
.footer-Rectangle {
    width: 100%;
    min-height: 250px;
    background-color: #e6f7e6;
    .footer-Text {
        padding: 20px 30px 0 30px;
        .section1 {
            display: flex;
            @include wrap-spaceBetween;
            .footer-Logo {
                @include verticalCentered;
                width: 200px;
                @include wrap-justifyCenter;
                height: 80px;
                margin-right: 20px;
                img {
                    width: 38px;
                    height: 30px;
                }
                .hl {
                    @include horizontalLine;
                }
                h3 {
                    @include style1;
                    font-size: 23px;
                    color: $secondary-color;
                }
                h4 {
                    @include style1;
                    font-size: 19px;
                    word-spacing: -2px;
                    color: $secondary-color;
                    font-weight: 500;
                    margin-top: 6px;
                }
            }
            .footer-Help-Contact {
                padding-top: 10px;
                height: 117px;
                display: flex;
                flex-direction: column;
                h3 {
                    @include style1;
                    font-size: 23px;
                }  
                .hl2 {
                    @include horizontalLine2;
                } 
                h5 {
                    margin-top: 10px;
                }
            }
            .social-Platforms {
                margin: 10px;
                font-size: 22px;
                a {
                    color: $secondary-color;
                }
            }
        }
        .nav-Report {
            display: flex;
            @include wrap-spaceBetween;
            padding-bottom: 10px;
            margin-top: 20px;
            .footer-Nav {
                display: flex;
                flex-direction: column;
                a {
                    color: $secondary-color;
                    margin-bottom: 10px;
                }
            }
            .report {
                bottom: 6px;
                margin-top: 50px;
                width: 274px;
                input {
                    border-radius: 10px;
                    height: 30px;
                    width: 200px;
                    bottom: 0;
                    border: 2px solid lightgray;
                    font-size: 16px;
                }
                button {
                    @include button1;
                    font-size: 16px;
                    width: 70px;
                }
                h6 {
                    margin-top: 3px;
                    @include style2;
                    font-size: 14px;
                    margin-left: 6px;
                    color: $primary-color;
                }
            }
            .contact {
                margin-top: 40px;
                .contact-i {
                    display: flex;
                    margin-top: 10px;
                    i {
                        margin-right: 4px;
                    }
                }
            } 
        }   
    }                
}